<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sangdari.domain.store.mapper.StoreMapper">
    <resultMap id="storesResultMap" type="com.sangdari.domain.store.entities.Stores">
        <id column="store_id" property="storeId" />
        <result column="image_url" property="imageUrl" />
        <result column="business_name" property="businessName" />
        <result column="store_description" property="storeDesc" />
        <result column="addr_base" property="addrBase" />
        <result column="min_headcount" property="minHeadcount" />
        <result column="max_headcount" property="maxHeadcount" />
        <result column="is_Battery_supported" property="isBatterySupported" />

        <result column="food_category_names" property="foodCategoryNames" />
    </resultMap>

    <!-- GROUP_CONCAT: 카테고리명들을 담은 문자열(ex "카페,식당")로 반환 -->
    <!-- TODO: 예약 가능 여부 - 예약 테이블의 상태 수정되면 수정하기 -->
    <select id="getFilteredStores" resultMap="storesResultMap">
        SELECT
            s.store_id,
            s.image_url,
            s.business_name,
            s.store_description,
            s.addr_base,
            s.min_headcount,
            s.max_headcount,
            s.is_Battery_supported,
            GROUP_CONCAT(fc.name SEPARATOR ',') as food_category_names
        FROM stores s
             INNER JOIN store_food_categories sfc ON s.store_id = sfc.store_id
             INNER JOIN food_categories fc ON sfc.food_category_id = fc.food_category_id
        <where>
            <if test="regionId != null">
                AND s.region_id = #{regionId}
            </if>

            <if test="date != null and date != ''">
                AND s.store_id NOT IN (
                    SELECT r.store_id
                    FROM reservations r
                    WHERE #{date} BETWEEN DATE(r.event_start_date) AND DATE(r.event_end_date)
                        AND r.status IN (
                                'CONFIRMED',
                                'PAYMENT_COMPLETED',
                                'COMPLETED'
                             )
                )
            </if>

            <if test="minHeadcount != null">
                AND s.min_headcount &lt;= #{minHeadcount}
            </if>
            <if test="maxHeadcount != null">
                AND s.max_headcount &gt;= #{maxHeadcount}
            </if>

            <if test="isPowerAvailable != null and isisPowerAvailable == true">
                AND s.is_battery_supported = TRUE
            </if>

            <if test="selectedCategories != null and selectedCategories.size() > 0">
                AND fc.name IN
                <foreach collection="selectedCategories" item="categoryName" open="(" separator="," close=")">
                    #{categoryName}
                </foreach>
            </if>
        </where>
        GROUP BY s.store_id
        ORDER BY s.store_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countStores" parameterType="StoreListReq" resultType="long">
        SELECT COUNT(DISTINCT  s.store_id)
        FROM stores s
                 INNER JOIN store_food_categories sfc ON s.store_id = sfc.store_id
                 INNER JOIN food_categories fc ON sfc.food_category_id = fc.food_category_id
        <where>
            <if test="regionId != null">
                AND s.region_id = #{regionId}
            </if>

            <if test="date != null and date != ''">
                AND s.store_id NOT IN (
                SELECT r.store_id
                FROM reservations r
                WHERE #{date} BETWEEN DATE(r.event_start_date) AND DATE(r.event_end_date)
                AND r.status IN (
                'CONFIRMED',
                'PAYMENT_COMPLETED',
                'COMPLETED'
                )
                )
            </if>

            <if test="minHeadcount != null">
                AND s.min_headcount &lt;= #{minHeadcount}
            </if>
            <if test="maxHeadcount != null">
                AND s.max_headcount &gt;= #{maxHeadcount}
            </if>

            <if test="isPowerAvailable != null and isisPowerAvailable == true">
                AND s.is_battery_supported = TRUE
            </if>

            <if test="selectedCategories != null and selectedCategories.size() > 0">
                AND fc.name IN
                <foreach collection="selectedCategories" item="categoryName" open="(" separator="," close=")">
                    #{categoryName}
                </foreach>
            </if>
        </where>
    </select>
</mapper>